{% extends 'layout.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <section class="postpage">

        <!-- Post details -->
        {% if post.banner %}
            <img 
                class="banner" 
                src="{{ post.banner.url }}" 
                alt="{{ post.title }}"
            />
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.date }}  by {{ post.author }}</p>
        <p>{{ post.body }}</p>
        <p id="likes-label">❤ <span style="color: black;">{{ post.total_likes }}</span></p>

        <!-- Like/Unlike buttons -->
        {% if user.is_authenticated %}
            <form action="{% url 'posts:like-post' post.id %}" method="POST">
                {% csrf_token %}
                {% if user in post.likes.all %}
                    <button type="submit" class="danger-btn">Unlike</button>
                {% else %}
                    <button type="submit" class="btn">Like</button>
                {% endif %}
            </form>
        {% endif %}

        <!-- Delete button -->
        {% if user == post.author %}
            <form action="{% url 'posts:delete-post' post.id %}" method="POST" method="POST">
                {% csrf_token %}
                <button type="submit" class="danger-btn">Delete</button>
            </form>
        {% endif %}

    </section>
{% endblock %}